<!-- row1 -->
<div class="container">
    <div class="row">
        <div class="d-lg-flex flex-row bd-highlight">
            <div class="col-lg-6 d-flex align-items-center">
                <div>
                    <h4>Who we are</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem numquam temporibus
                        eveniet quibusdam mollitia beatae, corrupti quasi quod reprehenderit explicabo asperiores
                        nam dolorem doloribus autem praesentium quos soluta, unde libero quia quas molestias debitis
                        deserunt facilis? Distinctio atque at repudiandae nihil porro qui quam voluptas assumenda
                        aperiam vero delectus blanditiis necessitatibus libero culpa hic, voluptatum beatae quidem
                        laudantium quae! Illum?</p>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="https://images.unsplash.com/photo-1496307653780-42ee777d4833?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                    alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>