<footer>
    <div class="fluid-container bg-dark">
        <div class="container py-5">
            
            <div class="row">
                <div class="col-sm-4">
                    Address
                </div>
                <div class="col-sm-4">
                    <ul>
                        <li>Link</li>
                        <li>Link</li>
                        <li>Link</li>
                        <li>Link</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                        Social media
                </div>
        </div>
        </div>
    </div>
</footer>
