@import '../../styles.scss';


header {
    font-family: 'Raleway', sans-serif;

    a:hover {
        @include hoverScale(100%);
    }
    a.navbar-brand {
        font-size: 200%;
        font-weight: bold;
        &:hover{
            @include hoverScale(200%); 
        }
    }
}