@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


header {
    font-family: 'Raleway', sans-serif;

    a:hover {
        font-size: 110%;
    }
    a.navbar-brand {
        font-size: 200%;
        font-weight: bold;
        &:hover{
            font-size: 210%; 
        }
    }
}