@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

// color pallette
$primary: rgb(22, 69, 100);


// mixins

@mixin hoverScale($size){
    font-size: $size + 10%;
    transition: .4s;
}