<section id="about" class="p-5">
  <div class="container text-center">

    <!-- about -->
    <!-- title -->
    <div class="pb-5">
      <h3 class="display-4">Why this App is so awsome</h3>
      <p>This is why this app is so awsome, you'll never need another one!</p>
    </div>
    <!-- cards -->
    <div class="row justify-content-center">
      <!-- card 1 -->
      <div class="col-lg-4">
        <div class="card">
          <img
            src="https://images.unsplash.com/photo-1464986411762-a4275fbaf3f0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><span><i class="fas fa-mobile"></i></span><br>Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
      <!-- card 2 -->
      <div class="col-lg-4">
        <div class="card">
          <img
            src="https://images.unsplash.com/photo-1493500146995-7167488df174?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=755&q=80"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><span><i class="fas fa-mobile-alt"></i></span><br>Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
      <!-- card 3 -->
      <div class="col-lg-4">
        <div class="card">
          <img
            src="https://images.unsplash.com/photo-1522125670776-3c7abb882bc2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><span><i class="fas fa-sms"></i></span><br>Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="subscribe">
  <div class="fluid-container">
    <div class="covered">
      <div class="covered-img"></div>
      <div class="text-center">

          <h3 class="display-4 text-center">Why this App is so awsome</h3>
        <p>So much glorious content</p>
        <button type="button" class="btn btn-primary btn-lg">Large button</button>
      </div>
    </div>
  </div>
</section>

<section id="final info">
  <!-- row2 -->
  <div class="container my-5">
    <div class="row">
      <div class="d-flex flex-row-reverse bd-highlight mb-3">
        <div class="col-sm-6 d-flex align-items-center">
          <div>
            <h4>Experience the world through a lens</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem numquam temporibus
              eveniet quibusdam mollitia beatae, corrupti quasi quod reprehenderit explicabo asperiores
              nam dolorem doloribus autem praesentium quos soluta, unde libero quia quas molestias debitis
              deserunt facilis? Distinctio atque at repudiandae nihil porro qui quam voluptas assumenda
              aperiam vero delectus blanditiis necessitatibus libero culpa hic, voluptatum beatae quidem
              laudantium quae! Illum?</p>
          </div>
        </div>
        <div class="col-sm-6">
          <img
            src="https://images.unsplash.com/photo-1475274226786-e636f48a5645?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=730&q=80"
            alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>