<section id="random-pic">
    <div class="jumbotron jumbotron-fluid bg">
        <div class="container">
            <div class="row">
                <!-- left side -->
                <div class="col-md-6">
                    <div class="random-text">
                        <h1>Todays random image</h1>
                        <p>Replace with random image here:</p>
                    </div>
                </div>
                <!-- right side -->
                <div class="col-md-6">
                    <img src="https://picsum.photos/id/1003/300" class="img-fluid" alt="Responsive image">
                </div>
            </div>
        </div>
    </div>
</section>